<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	{% if saved %}
		<p>El post se creó correctamente</p>
	{% endif %}
	<h1>Crear Post</h1>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div>
			<label>Categoría</label>
			{{ form.category }}
			{{ form.category.errors }}
		</div>
		<div>
			<label>Tags</label>
			{{ form.tag }}
			{{ form.tag.errors }}
		</div>
		<div>
			<label>Título</label>
			{{ form.title }}
			{{ form.title.errors }}
		</div>
		<div>
			<label>Título oculto</label>
			{{ form.title_hidden }}
			{{ form.title_hidden.errors }}
		</div>
		<div>
			<label>Descripción corta</label>
			{{ form.description_short }}
			{{ form.description_short.errors }}
		</div>
		<div>
			<label>Descripción larga</label>
			{{ form.description_large }}
			{{ form.description_large.errors }}
		</div>
		<div>
			<label>Descripción extra</label>
			{{ form.description_extra }}
			{{ form.description_extra.errors }}
		</div>
		<div>
			<label>Imagen</label>
			{{ form.multimedia_imagen_destacado }}
			{{ form.multimedia_imagen_destacado.errors }}
		</div>
		<div>
			<label>Estado</label>
			{{ form.status }}
			{{ form.status.errors }}
		</div>
		<div>
			<label>Orden</label>
			{{ form.orden }}
			{{ form.orden.errors }}
		</div>
		<div>
			<label>Meta título</label>
			{{ form.meta_title }}
			{{ form.meta_title.errors }}
		</div>
		<div>
			<label>Meta descripción</label>
			{{ form.meta_description }}
			{{ form.meta_description.errors }}
		</div>
		<div>
			<label>Palabras claves</label>
			{{ form.meta_keywords }}
			{{ form.meta_keywords.errors }}
		</div>
		<div>
			<label>Autor</label>
			{{ form.meta_author }}
			{{ form.meta_author.errors }}
		</div>
		<div>
			<label>Sitemap</label>
			{{ form.xmlsitemap }}
			{{ form.xmlsitemap.errors }}
		</div>
		<div>
			<label>Sitemap prioridad</label>
			{{ form.xmlsitemap_prioridad }}
			{{ form.xmlsitemap_prioridad.errors }}
		</div>
		<div>
			<label>Estado de comentarios</label>
			{{ form.status_comment }}
			{{ form.status_comment.errors }}
		</div>
		<input type="submit" value="Grabar" name="save">
		<input type="submit" value="Grabar y agregar otro" name="save2">
		<input type="submit" value="Grabar y continuar editando" name="save3">
	</form>
</body>
</html>